<ion-header>
  <ion-toolbar>
    <ion-title slot="end"><img class="tamanio-logo" alt="logo" class="tamanio-logo" src="../../../assets/icon/Logo_DuocUC.svg.png"></ion-title>
    <ion-button slot="start" fill="clear" routerLink="/login"><ion-icon name="arrow-back-outline" style="color: black;"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-1 ic-2">
  <div>
    <ion-card >
      <ion-card-header>
        <ion-title style="text-align: center; margin-top:1%; margin-bottom: 3%; font-weight: bold; ">Registro</ion-title>
      </ion-card-header>
      <ion-card-content>

        <form [formGroup]="alumno" (ngSubmit)="registrar()">
          <ion-item>
            <ion-label position="stacked">Rut</ion-label>
            <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre completo</ion-label>
            <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_completo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha nacimiento</ion-label>
            <ion-input [max]="today" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" type="date" placeholder="Ingrese fecha nacimiento" required formControlName="fecha_nac"></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Semestre</ion-label>
            <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="Ingrese email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Repita Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
          </ion-item>
          <ion-button id="right-end" style="margin-top: 3%;" type="submit" class="button-color" expand="full" [disabled]="!alumno.valid">REGISTRAR</ion-button>
    
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-popover *ngIf="validoFecha" trigger="right-end" side="right" alignment="end">
    <ng-template>
      <ion-content class="ion-padding">{{mensaje}}</ion-content>
    </ng-template>
  </ion-popover>

  

</ion-content>
