<ion-header>
  <ion-toolbar>
    <ion-title slot="end"><img alt="logo" class="tamanio-logo" src="../../../assets/icon/Logo_DuocUC.svg.png"></ion-title>
    <ion-button slot="start" fill="clear" routerLink="/login"><ion-icon name="arrow-back-outline" style="color: black;"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-1 ic-2">
  <div>
    <ion-card>
      <ion-card-header>
        <div>

          <ion-title style="margin-top: 3%;">Recuperar contraseña</ion-title>
        </div>
      </ion-card-header>
      <ion-card-content>
            <ion-item >
              <ion-label>Email: </ion-label>
              <ion-input placeholder="example@email.com" [(ngModel)]="email"></ion-input>
            </ion-item> 
              <ion-button class="button-color" expand="full" style="margin-top: 4%;" (click)="emailChequear()" > Enviar </ion-button>
            
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
