ion-card{
    width: 70%;

    @media (max-width: 576px) {
        width: 85% !important;
    }
    
    ion-card-header{
        
        ion-title{
            text-align: center !important;
            width: fit-content;

            @media(max-width: 576px){
                font-size: small;
            }
            
        }

    }
}